.main > ul > li {
    overflow:hidden;
    margin-bottom: 30px;
    /* border-top: 1px solid gray; */
    padding: 5%;
}

.main > ul > li:not(:last-child) {
    border-bottom :1px solid gray;
}

img.list-img, .list-text {
    float: left;

}

.list-img {
  border: 10px solid #2b3333ad;
  width: 300px;

}

.list-text {
    text-align:left;
    margin-left: 5%;
   line-height: 2em;
    width: 500px;
}